%h1 House Buyer

%p 
  Enter the address of a house you are interested in, e.g.
  %b 1057 Lovely St Suburbtown

%form{ :action => "", :method => "get"}
  %label{:for => "address"} Address:
  %input{:type => "text", :name => "address", :class => "text", :size => "60", :value => @address}
  %input{:type => "submit", :value => "Search", :class => "button"}

-if @address
  %p 
    Search links for address 
    =succeed ":" do
      %b= @address

  %ul
    %li
      %a{:href=>$googleSearcher.searchUrl(@address),:target=>"_blank"} Google
    %li      
      Map search restricted to:
      - for region in $googleRegionSearchers do
        %a{:href=>region.searchUrl(@address),:target=>"_blank"} #{region.name}

  -for siteGroup in $siteGroups do
    %p
      %b
        ="#{siteGroup.title}:"
      - for site in siteGroup.sites do
        %a{:href=>site.searchUrl(@address),:target=>"_blank"} #{site.name}

  %h2 Searches based on address components

  %ul
    %li
      = link_with_params "Wellington RV Search", "/wellingtonRvPreSearch", :address=>@address
